
<h3>Here is your result</h3>



<p>
The question was:<br>
<%= @card.question %>
<br>
<br>
You guessed: <%= params[:answer]  %>
<br>
The correct answer is: <%= @card.answer %>
<br>
You got the question: <%=
  if @correct == true
    "Correct!  Great job."
  else
    "Incorrect. Try harder."
  end
 %>

<br>
<br>


<a href="/decks/<%=@deck.id%>/<%=@deck.next_card_id%>"> Click here for next card </a>
<!-- if deck.next_card_id is nil print  -->
</p>
