<div class="container">
  <h1>Welcome To Our Flashcard Game!</h1>

<ul>
  <li>
    <form action="/login" method ="POST">
    <label for="user_name">Name</label>
    <input id="user_name" type="text" name="user[name]" value="<%=  %>" />
  </li>
  <li>
    <label for="user_password">Password</label>
    <input id="user_password" type="password" name="user[password]" value="<%=  %>" />
  </li>
  <li>
    <input type="submit" value="Submit" />
  </li>
</ul>
<a href="/new">Sign up</a>

  <!-- <p>Hello, world %></p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table> -->
</div>
